<!DOCTYPE html>
<html lang="en"  id="top">
<head>


    <link rel="stylesheet" href="/static/ui-calendar-master/bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="/static/ui-calendar-master/demo/calendarDemo.css" />

    <script src="/static/ui-calendar-master/bower_components/jquery/dist/jquery.js"></script>

    <script src="/static/ui-calendar-master/bower_components/angular/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/static/ui-calendar-master/bower_components/moment/moment.js"></script>
    <script src="/static/ui-calendar-master/bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="/static/ui-calendar-master/bower_components/fullcalendar/dist/gcal.js"></script>
    <script src="/static/ui-calendar-master/src/calendar.js"></script>
    <script src="/static/ui-calendar-master/demo/calendarDemo.js"></script>


</head>


 
        <div id="directives-calendar" >
            
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <!--div class="btn-group calTools">
                          <!button type="button" class="btn btn-primary" ng-click="addEvent()">
                            Add Event
                          </button>
                        </div>
                        <!-->
                    <div class="span8">
                        <tabset>
                            <tab select="renderCalendar('myCalendar1');">
                             
                              
                              <div class="btn-toolbar">
                              
      
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">POR DIA</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">POR SEMANA</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">POR MES</button>
                               
                                </div>
                              </div>
                              <br>

                              <div class="row">
                                  <div class="col-md-10"><div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div></div>

                                  <div class="col-md-2"><div style='background:#796aee;padding: 15px;color:#fff;'><h1 ng-bind='titulo'></h1>
                                <h5 ng-bind='descripcion'></h5></div>
                                
                                <div style='background:#009393;padding: 15px;color:#fff;'>
                                <p ng-if='inicio'>Inicio : <span ng-bind='inicio'></span></p>
                                <p ng-if='fin'>Final : <span ng-bind='fin'></span></p></div>


                                  </div>
                              </div>
                          
                           </tab>
                          
                        </tabset>
                    </div>

                   
                </div>
            </div>
            

        </div>

       

</html>


<style type="text/css">
    
.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
}

</style>