<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" ng-controller="CalendarCtrl" id="top">
	{% include "head.html" %}


		<body>
				<div class="page home-page">
						<!-- Main Navbar-->
						{% include "header.html" %}

						
						<div class="page-content d-flex align-items-stretch">
								<!-- Side Navbar -->



									{% include "sidenav.html" %}

								<div class="content-inner">
										<!-- Page Header-->
										<header class="page-header">
												<div class="container-fluid">


														<div class="row">
																
																<div class="col-md-1" style='padding-top: 26px;'>

																<h2 class="no-margin-bottom">Dashboard
										
																</h2>
																
																</div>

																<div class="col-md-11">
																	

										<!-- Dashboard Counts Section-->


										{% include "indicadores.html" %}


																</div>
																

														</div>	

												</div>
										</header>


										<!-- Dashboard Header Section    -->




										<section class="dashboard-header">
												<div class="container-fluid">
													

										{% include "calendar_1.html" %}


										
												</div>
										</section>
										<!-- Projects Section-->
						
										<!-- Client Section-->
    
          <!-- Feeds Section-->
       
								
										<Page Footer-->
									{% include "footer.html" %}
								</div>
						</div>
				</div>
				<!-- Javascript files-->


				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
				<script src="/static/js/tether.min.js"></script>
				<script src="/static/js/bootstrap.min.js"></script>
				<script src="/static/js/jquery.cookie.js"> </script>
				<script src="/static/js/jquery.validate.min.js"></script>
			
				<!-- <script src="/static/js/front.js"></script>-->
				<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->

				<script src="/static/ui-calendar-master/bower_components/jquery/dist/jquery.js"></script>

				<script src="/static/ui-calendar-master/bower_components/angular/angular.js"></script>
				<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
				<script src="/static/ui-calendar-master/bower_components/moment/moment.js"></script>
				<script src="/static/ui-calendar-master/bower_components/fullcalendar/dist/fullcalendar.js"></script>
				<script src="/static/ui-calendar-master/bower_components/fullcalendar/dist/gcal.js"></script>
				<script src="/static/ui-calendar-master/src/calendar.js"></script>
				<script src="/static/ui-calendar-master/demo/calendarDemo.js"></script>

				<!---->
				<script>
						(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
						function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
						e=o.createElement(i);r=o.getElementsByTagName(i)[0];
						e.src='//www.google-analytics.com/analytics.js';
						r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
						ga('create','UA-XXXXX-X');ga('send','pageview');
				</script>
		</body>
</html>