<!DOCTYPE html>
<html>


   {% include "head.html" %}



  <body>
    <div class="page home-page">


    {% include "header.html" %}

      <div class="page-content d-flex align-items-stretch">
      




          {% include "sidenav.html" %}




        <div class="content-inner">
          <!-- Page Header-->
             <header class="page-header">
                        <div class="container-fluid">


                            <div class="row">
                                
                                <div class="col-md-1" style='padding-top: 26px;'>

                                <h2 class="no-margin-bottom">Medicos
                    
                                </h2>
                                
                                </div>

                                <div class="col-md-11">
                                  

                    <!-- Dashboard Counts Section-->


                    {% include "indicadores.html" %}


                                </div>
                                

                            </div>  

                        </div>
                    </header>



       
          <!-- Projects Section-->
          <section class="projects no-padding-top">
            <div class="container-fluid">
                  <br>
                  <form class="form-inline my-2 my-sm-0" method="get" action="/busquedamedico/">


    
     <div class="input-group">
      <input style='border:1px solid #37475a;' type="text" class="form-control" required name='dato' autofocus placeholder="¿Que estas buscando?">
      <span class="input-group-btn">
        <button style='border: 1px solid;' class="btn btn-secondary" type='submit'><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
      <span class="input-group-btn">
      <a href="/medico"class="btn btn-secondary" type='submit'><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
      </span>
    </div>

    </form>

    <BR>
   <!-- FIN DEL BUSCADOR-->



              {% for m in medicos %}
              

                 
                <br>

              <!--Lista de Pacientes-->
              <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-7 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow"><img src="http://localhost:8000/{{m.foto}}" alt="..." class="img-fluid"></div>
                      <div class="text">
                       <small>NOMBRES</small> 

                       <h4>{{m.nombre}} {{m.apellido}}   <a href="/editmedico/{{m.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></h4>

                      </div>

                    </div>
                      <div class="project-title d-flex align-items-center">
                     
                      <div class="text">
                        <small>DNI</small> <h4 class=<"h4">{{m.dni}} </h4>

                      </div>
                      
                    </div>


                      <div class="project-title d-flex align-items-center">
                   
                      <div class="text">
                        <small>TELEFONO</small> <h4 class=<"h4">{{m.telefono}}</h4>
                      </div>
                      
                    </div>


                    
                      <div class="project-title d-flex align-items-center">
                   
                      <div class="text">
                        <small>EMAIL</small> <h4 class=<"h4">{{m.email}}</h4>
                      </div>
                      
                    </div>
                  </div>
                  <div class="right-col col-lg-5 d-flex align-items-center">
          
                    <div class="project-progress">
                      <div class="progress">
                        <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>

                      </div>
                      <br>
                       <div class="progress">
                        <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                        
                      </div>
                    </div>

                       <!--   <button class='btn btn-primary' ><i class="icon-interface-windows"></i>Citas </button> 
                          <button  class='btn btn-primary'><i class="fa fa-book" aria-hidden="true"></i>Atencion</button> 
                          <button  class='btn btn-primary'><i class="fa fa-usd" aria-hidden="true"></i>Pagos</button> 
 -->
                          <div class="form-group row">
                          <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary btn-sm"> <i class="icon-interface-windows"></i> Citas</button>
                
                          
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-book" aria-hidden="true"></i> Atencion</button>
                       
                            
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-usd" aria-hidden="true"></i> Pagos</button>
                          </div>
                          </div>
              
                       
                


                  </div>
                </div>
              </div>
    

              {% endfor %}

                
            </div>
          </section>
          <!-- Client Section-->
          <section class="client no-padding-top">
            <div class="container-fluid">
              <div class="row">
                <!-- Work Amount  -->
                <div class="col-lg-4">
                  <div class="work-amount card">
                    <div class="card-close">
                      <div class="dropdown">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Feeds Section-->
          <section class="feeds no-padding-top">
            <div class="container-fluid">
              <div class="row">
       
                   
          </section>
          <!-- Page Footer-->
         {% include "footer.html" %}
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"> </script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/static/js/charts-home.js"></script>
    <script src="/static/js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>