<!DOCTYPE html>
<html>

     {% include "head.html" %}

  <body>

    <div class="page form-page">



     {% include "header.html" %}





      <div class="page-content d-flex align-items-stretch"> 
 

       {% include "sidenav.html" %}



        <div class="content-inner">

          <div class="alert alert-info">
 {{msj}}
</div>
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Nueva Cita</h2>
            </div>
          </header>
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="/static/index.html">Citas</a></li>
              <li class="breadcrumb-item active">Nueva Cita</li>
            </div>
          </ul>
          <!-- Forms Section-->

               <br> 
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">

       
             
                <!-- Form Elements -->


              

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="/static/#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="/static/#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Crear una Nueva Cita</h3>
                    </div>
                    <div class="card-body">






                        <form class="form-horizontal" action="/nuevacita/" method="post">


                        {% csrf_token %}




                        {% for field in form %}


                          <div class="form-group row">
                              

                              <div class="col-sm-3 form-control-label">{{ field.label_tag }}</div>

                              <div class="col-sm-9">{{ field.errors }} {{ field }}

                              {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                              {% endif %}

                              </div>
                               
                              
                              
                          </div>


                       {% endfor %}


                        <div class="line"></div>
                        <div class="form-group row">
                          <div class="col-sm-4 offset-sm-3">
                            
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                          </div>
                        </div>


                        

                          
                        </form>

                            

                        {{paciente.nombre}}




                    </div>
                  </div>


                              <!-- Daily Feeds -->
                            <div class="col-lg-12">
                              <div class="daily-feeds card"> 
                                <div class="card-close">
                                  <div class="dropdown">
                                    <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                    <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                  </div>
                                </div>
                                <div class="card-header">
                                  <h3 class="h4">Historial de Citas de Gareca</h3>
                                </div>
                                <div class="card-body no-padding">
                                  <!-- Item-->
                                  <div class="item">
                                    <div class="feed d-flex justify-content-between">
                                      <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"><img src="/static/img/avatar-5.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                          <h5>Aria Smith</h5><span>Posted a new blog </span>
                                          <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                        </div>
                                      </div>
                                      <div class="date text-right"><small>5min ago</small></div>
                                    </div>
                                  </div>
                                  <!-- Item-->
                                  <div class="item"> 
                                    <div class="feed d-flex justify-content-between">
                                      <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"><img src="/static/img/avatar-2.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                          <h5>Frank Williams</h5><span>Posted a new blog </span>
                                          <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                          <div class="CTAs"><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-thumbs-up"> </i>Like</a><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-heart"> </i>Love    </a></div>
                                        </div>
                                      </div>
                                      <div class="date text-right"><small>5min ago</small></div>
                                    </div>
                                  </div>
                                  <!-- Item-->
                                  <div class="item clearfix">
                                    <div class="feed d-flex justify-content-between">
                                      <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"><img src="/static/img/avatar-5.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                          <h5>Ashley Wood</h5><span>Posted a new blog </span>
                                          <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                        </div>
                                      </div>
                                      <div class="date text-right"><small>5min ago</small></div>
                                    </div>
                                    <div class="quote has-shadow"> <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years.</small></div>
                                    <div class="CTAs pull-right"><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-thumbs-up"> </i>Like</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                                    <!-- Client Profile -->
                          <div class="col-lg-12">
                            <div class="client card">
                              <div class="card-close">
                                <div class="dropdown">
                                  <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                  <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                </div>
                              </div>
                              <div class="card-body text-center">
                                <div class="client-avatar"><img src="/static/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle">
                                  <div class="status bg-green"></div>
                                </div>
                                <div class="client-title">
                                  <h3>Gareca</h3><span>Entrenador</span><a href="#">Follow</a>
                                </div>
                                <div class="client-info">
                                  <div class="row">
                                    <div class="col-4"><strong>20</strong><br><small>Citas</small></div>
                                    <div class="col-4"><strong>54</strong><br><small>Atenciones</small></div>
                                    <div class="col-4"><strong>235</strong><br><small>Tratamiento</small></div>
                                  </div>
                                </div>
                                <div class="client-social d-flex justify-content-between"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                              </div>
                            </div>
                          </div>

                          <!-- Recent Activities -->
                          <div class="col-lg-12 col-md-12">
                            <div class="recent-activities card">
                              <div class="card-close">
                                <div class="dropdown">
                                  <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                  <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                </div>
                              </div>
                              <div class="card-header">
                                <h3 class="h4">Historial de atenciones de Gareca</h3>
                              </div>
                              <div class="card-body no-padding">
                                <div class="item">
                                  <div class="row">
                                    <div class="col-4 date-holder text-right">
                                      <div class="icon"><i class="icon-clock"></i></div>
                                      <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                      <h5>Tratamiento Capilar 3</h5>
                                      <p>El Paciente vino y fue atendido con exito, , .</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row">
                                    <div class="col-4 date-holder text-right">
                                      <div class="icon"><i class="icon-clock"></i></div>
                                      <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                      <h5>Tratamiento Capilar 2</h5>
                                      <p>El Paciente vino y fue atendido con exito, ,.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row">
                                    <div class="col-4 date-holder text-right">
                                      <div class="icon"><i class="icon-clock"></i></div>
                                      <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                      <h5>Tratamiento Capilar 1</h5>
                                      <p>El Paciente vino y fue atendido con exito,,.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                    </section>
                </div>



              </div>
            </div>
          </section>
          <!-- Page Footer-->

          {% include "footer.html" %}
          
        </div>
      </div>
    </div>




    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"> </script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
 





  </body>
</html>