            <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="/static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{user}}</h1>
              <p>{{grupo}}</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">



            <li> <a href="/dashboard"> <img src="/static/img/computer.png"  class='iconosidebar'></i>Dashboard </a></li>
            
           <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <img src="/static/img/medical-history.png" class='iconosidebar'>Citas </a>
              <ul id="dashvariants" class="collapse list-unstyled">

                <li><a href="/citas">Listas</a></li>
                <li><a href="/nuevacita">Nueva Cita</a></li>
            
              </ul>
            </li>

              <li><a href="#paciente" aria-expanded="false" data-toggle="collapse"> <img src="/static/img/patient.png" class='iconosidebar'>Paciente </a>
              <ul id="paciente" class="collapse list-unstyled">

                <li><a href="/paciente">Lista de Pacientes</a></li>
                <li><a href="/nuevopaciente">Nueva Paciente</a></li>
          
              </ul>
            </li>

             <li><a href="#medicos" aria-expanded="false" data-toggle="collapse"> <img src="/static/img/doctor.png" class='iconosidebar'>Medicos </a>
              <ul id="medicos" class="collapse list-unstyled">

                <li><a href="/medico">Lista de Medicos</a></li>
                <li><a href="/nuevomedico">Nueva Medico</a></li>
          
              </ul>
            </li>



             <li><a href="#atencion" aria-expanded="false" data-toggle="collapse"> <img src="/static/img/atencion.png" class='iconosidebar'>Atencion</a>
              <ul id="atencion" class="collapse list-unstyled">

                <li><a href="/atencion">nueva atencion</a></li>
                
          
              </ul>
            </li>



             <li><a href="#pagos" aria-expanded="false" data-toggle="collapse"> <img src="/static/img/pagos.png" class='iconosidebar'>Pagos</a>
              <ul id="pagos" class="collapse list-unstyled">

                <li><a href="/pagos">nuevo Pago</a></li>
                
          
              </ul>
            </li>






            <li> <a href="tables.html"> <i class="icon-grid"></i>Areas Medicas </a></li>
            <li> <a href="charts.html"> <i class="fa fa-bar-chart"></i>Reportes </a></li>


            <div id='fecha'></div>

          </ul>

          <script type="text/javascript">

          fecha= 

          $('·fecha').html = fecha
          </script>




          <!--  <span class="heading">Extras</span>


         <ul class="list-unstyled">
            <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
          </ul> -->

        </nav>


        <style type="text/css">
        .iconosidebar{
              vertical-align: middle;
    max-width: 52px;
    padding-right: 9px;
        }

        </style>